////
/// Core Tool : Reset btn
/// @group core
////

@mixin btn-reset {
  -webkit-appearance: button;
  background-color: transparent;
  font-family: inherit;
  border-radius: 0;
  margin: 0; // Address margins set differently in Firefox 4+, Safari, and Chrome.
}
