////
/// Core Module : Reset input & form field
/// @group core
////

input,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  @include text-adjustments;
  border-radius: 0;
  background-color: transparent;
  margin: 0; // Address margins set differently in Firefox 4+, Safari, and Chrome.
}
